@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.8;
  font-weight: bold;
}

button {
  cursor: pointer;
}

.first-card,
.second-card,
.third-card,
.fourth-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.bg-img {
  background-image: url("/vector.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.line {
  display: none;
}

.about {
  overflow: hidden;
}

@media (min-width: 1170px) {
  .line {
    display: block;
  }
}
